@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 75px;
    background-color: #c1c2f2;
    color: #feeae4;
}

nav ul li{
    padding: 0 12px;
	text-decoration: none;
}
nav ul li a:hover{
	color: #ffffff;
}
nav ul li a{
	text-decoration: none;
	color: #feeae4;
}
.brand img{
    width: 44px;
    padding: 0 8px;
	height: 70px;
	width: 240px;
}
.container{
   min-height: 72vh;
   background-color: #c1c2f2;
   color: #feeae4;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}
.container .songList .rossa-img{
	float: right;
	padding-left: 100px;
	margin-top: 80px;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: #c1c2f2;
    color: #feeae4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 100px;
}

.songItem{
    height: 50px;
	width: 550px;
    display: flex;
    background-color: white;
    
    color: #c1c2f2;
    margin: 35px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 20px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: #feeae4;
    }
  }